---
apiVersion: v1
kind: Service
metadata:
  name: kong-ui-service
  labels:
    app: kong-ui
    tier: "{{ns_name}}"
spec:
  ports:
  - port: 8080
  selector:
    app: kong-ui
    tier: "{{ns_name}}"
---
apiVersion: apps/v1beta1 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: kong-ui
spec:
  selector:
    matchLabels:
      app: kong-ui
      tier: "{{ns_name}}"
  replicas: 1
  template:
    metadata:
      labels:
        app: kong-ui
        tier: "{{ns_name}}"
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role
                operator: In
                values:
                - "{{ns_name}}"
      containers:
      - args:
        - -a $KONGUI_USER=$KONGUI_PASSWD
        env:
        - name: KONGUI_PASSWD
          valueFrom:
            secretKeyRef:
              name: kongui-password
              key: konguiPasswd
        - name: KONGUI_USER
          value: admin
        name: kong-api-ui
        image: pgbi/kong-dashboard:v2
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 50m
            memory: 100Mi
        ports:
        - name: kong-ui-tcp
          containerPort: 8080

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kong-ui-ingress
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "{{ns_name}}.{{domain}}"
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: "kong-{{ns_name}}.{{domain}}"
    http:
      paths:
      - path: /
        backend:
          serviceName: kong-ui-service
          servicePort: 8080
