---
apiVersion: v1
data:
  config.json: |
    {
        "version": "1.0",
        "logger": {
            "name": "git2consul-{{env}}",
            "streams": [{
                    "level": "trace",
                    "stream": "process.stdout"
                },
                {
                    "level": "debug",
                    "type": "rotating-file",
                    "path": "/var/log/git2consul/git2consul.log"
                }
            ]
        },
        "max_sockets": 1,
        "repos": [{
            "name": "mongov2-application-config-common",
            "url": "ssh://git@bitbucket.gmail.com/mongov2/mongo-application-config-common.git",
            "branches": ["mongov2-{{env}}"],
            "hooks": [{
                "type": "polling",
                "interval": "1"
            }]
        }]
    }
kind: ConfigMap
metadata:
  name: git2consul-{{env}}
  namespace: mongo-consul

---
apiVersion: apps/v1beta1 # for versions before 1.8.0 use apps/v1beta1
kind: Deployment
metadata:
  name: git2consul-{{env}}
spec:
  selector:
    matchLabels:
      app: git2consul-{{env}}
  replicas: 1
  template:
    metadata:
      labels:
        app: git2consul-{{env}}
    spec:
      serviceAccountName: consul-serviceaccount
      containers:
      - name: git2consul-int
        image: 95951367244.dkr.ecr.us-west-2.amazonaws.com/git2consul-custom:aws
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: BRANCH
          value: mongov2-{{env}}
        - name: CONSUL_ENDPOINT
          value: consul.mongo-consul.svc.cluster.local
        - name: CONSUL_PORT
          value: "8500"
        - name: TOKEN
          valueFrom:
            secretKeyRef:
              name: consul-token
              key: consul-token
        - name: CONFIG_KEY
          value: mongov2/git2consul-{{env}}/config
        volumeMounts:
          - name: config
            mountPath: /etc/git2consul.d/
      volumes:
          - name: config
            configMap:
              name: git2consul-{{env}}
